/*UC1*/

.header-content {
    display: flex;
    justify-content: center;
    border: 0px solid greenyellow;
}

.logo-content {
    display: flex;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

img {
    width: 3em;
}

.logo-content-img {
    border: 0px solid #42515f;
}

.emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: uppercase;
}

.emp-payroll {
    color: #42515f;
}


/*UC2*/

.form-content {
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
}

.form {
    width: 65%;
    padding: 44px 60px;
    background: #FFFF 0% 05 no-repeat padding-box;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #00000029;
}

.form-head {
    font: normal normal bold 20px/37px Roboto;
    color: #42515f;
    text-transform: capitalize;
    padding-bottom: 20px;
}

.row-content {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}

.label {
    min-width: 140px;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.text {
    font-size: 16px;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: verical;
}